* {
    margin:0px;
    padding:0px;
    border: 0px;
}
body {
    color: #222;
    background-color: #233a4d;
    font-family: Georgia, serif;
    font-family: Palatino, serif;
    font-size: 18px;
}
#container {
    min-width:200px;
    max-width:700px;
    margin:10px auto;
    padding:2px 20px;
    padding-bottom:100px;
    background-color: #fff;
    border-radius: 10px;
    border: 10px solid #cbbf9b;    
}
h1 {
    font-size:1.8em;
    font-weight:normal;
    text-align: center;
    padding: 15px 0px;
    padding-bottom: 0px;
}
h2, h3 {
    font-size:1.3em;
    font-weight:normal;
    padding: 15px 0px;
}
p {
    padding: 15px 0px;
}
a {
    color: #233a4d;
    text-decoration: underline;
    font-weight: normal;
}
a:hover {
    color: #bf2001;
}
div#instructions {
    padding: 15px 0px;
}
div#instructions p {
    text-align:center;
}
div#navigation {
    padding: 20px 30px;
    width: 100%;
}
div.navButton {
    width: 30%;
    float: left;
    margin: 2px;
}
button {
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #706b63;
    width: 100%;
}
button:hover {
    background-color: #7d7870;
}
div#cardContainer {
    min-height: 500px;
}
div#card {
    padding: 0px 10px;
    margin: 0px 40px;
    padding-bottom: 30px;
    min-height: 200px;
    color: #222;
    background-color: #faf6ec;
    border-radius:10px;
    border: 25px solid #fff;
    box-shadow: 1px 1px 3px #92865f;
    cursor: pointer;
}
div#card h2 {
    padding-top: 0px;
    padding-bottom: 8px;
}
div#card.c0 {
    color: #fffff0;
    background-color: #ce3d1c;
}
div#card.c1 {
    color: #fffff0;
    background-color: #4c880c;
}
div#card.c2 {
    color: #fffff0;
    background-color: #204d84;
}
div#card.c3 {
    color: #fffff0;
    background-color: #972d57;
}
div#question {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
    padding: 15px 0px;
}
